In [ ]:
#tuple ko pachhadi comma aaucha 
# multiple values accept
#not mutable data type
#indexing
#ordered
#duplicate members

In [1]:
a = (1,2,3,4)
print(a)
print(type(a))

(1, 2, 3, 4)
<class 'tuple'>

In [3]:
a = ("Apple",)
type(a)

tuple

In [4]:
a = ("Apple",)
a*3

('Apple', 'Apple', 'Apple')

In [7]:
a=("Apple","Ball","Cat")
a[2]

'Cat'

In [9]:
a=("Apple","Ball","Cat")
b = ("fish",)
print(a+b)
print(b+a)

('Apple', 'Ball', 'Cat', 'fish')
('fish', 'Apple', 'Ball', 'Cat')

In [10]:
def cal():
    l = 10
    b=20
    return l,b
cal()

(10, 20)

In [12]:
a=("Apple","Ball","Cat")
print(a[0:2])

('Apple', 'Ball')

In [13]:
y = ()
n = int(input("enter value"))
for i in range(n):
    x= input("enter x")
    y = y+(x,)
print(y)

enter value2
enter xwe
enter xew
('we', 'ew')

In [15]:
a=("Apple","Ball","Cat")
a[0] 
print(a[0])

Apple

In [16]:
a = (12,123,21,12,32)
print(sorted(a))

[12, 12, 21, 32, 123]

In [18]:
a = ("apple","ball","cat")
for i in range(len(a)):
    print(a[i])

apple
ball
cat

In [19]:
a = ("apple","ball","cat")
for i in a:
    print(i)

apple
ball
cat

In [20]:
a = ("apple","ball","cat")
a.index("apple")

0

In [25]:
a = ("apple","ball","cat")
b = list(a)
b.remove("ball")
print(b)
a = tuple(b)
print(a)

['apple', 'cat']
('apple', 'cat')

In [26]:
a = ("apple","ball","cat")
b = list(a)
b[1]= "bat"
print(b)
a = tuple(b)
print(a)

['apple', 'bat', 'cat']
('apple', 'bat', 'cat')

In [27]:
a = "python"
print(tuple(a))
print(list(a))

('p', 'y', 't', 'h', 'o', 'n')
['p', 'y', 't', 'h', 'o', 'n']

In [1]:
a= [["anamika",'bibek'],['ashish','sushil'],['rojan','ashish']]
b = tuple(a)
print(b)

(['anamika', 'bibek'], ['ashish', 'sushil'], ['rojan', 'ashish'])