In [ ]:
list
- multiple values accept
-mutable data type
indexing
ordered
duplicate members

In [ ]:
 a = ["Apple","Ball","Cat","Dog"]
print(a)
print(type(a))
print(len(a))

In [ ]:
a = "Apple"
len(a)

In [ ]:
 a = ["Apple","Ball","Cat","Dog",1,2,3]
print(a[0:4])

In [ ]:
 a = ["Apple","Ball","Cat","Dog",1,2,3]
print(a[6::-1])

In [ ]:
 a = ["Apple","Ball","Cat","Dog",1,2,3]
print(a[0:7:2])

In [ ]:
a = ["apple","ball"]
b = ["cat","dog"]
print(b+a)

In [ ]:
a = ["apple","ball"]
b = ["cat","dog"]
print(a+b)

In [ ]:
a = ["Apple","Apple"]
b = ["apple","ball"]*2
print(b)

In [ ]:
a = [1,2,3]*2
a

In [ ]:
a = ["Apple","Apple"] + [2]
print(a)

In [ ]:
a = ["apple","ball"]
a[0] = "Anmt"
print(a)

In [ ]:
y = []
n = int(input("Enter the value of n = "))
for i in range(n):
    x = int(input("enter x = "))
    y.append(x)
print(y)

In [ ]:
a = [1,2,3,4,5,6]
a.insert(2,0)
print(a)

In [ ]:
y = []
n = input("Enter the value of n = ")
for i in range(n):
    x = int(input("enter x = "))
    y.append(x)
print(y)

y = []
n = int(input("Enter the value of n = "))
for i in range(n):
    x = int(input("enter x = "))
    y.append(x)
print("max :",max(y))
print("min :",min(y))
print("avg :",avg(y))
print("sum :",sum(y))
print("sort :",y.sort())

In [ ]:
y = [] 
n = int(input("Enter the value of n = ")) 
for i in range(n):
    x = int(input("enter x = ")) 
    y.append(x) 
print("max :",max(y))
print("min :",min(y)) 
print("sum :",sum(y)) 
y.sort()
print(y)

In [ ]:
y.reverse
print(y)

In [ ]:
a = ["sam","apple","Apple","hbhb"]
a.sort()
print(a)

In [ ]:
for i in a:
    print(i)

In [ ]:
n = len(a)
for i in range(n):
    print(i,a[i])

In [ ]:
a = ['apple','ball','cat','ball','zebra']
search = input("enter the value of search =")
if search in a:
    print("yes",a.count(search))

In [ ]:
b = []
a = ['apple','Ball','Cat','ball','Zebra']
n = len(a)
for i in range(n):
    t = a[i].lower()
    b.append(t)
print(b)
search = input("enter the value of search =").lower()
if search in b:
    print("yes",b.count(search))

In [ ]:
a = ['apple','Ball','Cat','ball','Zebra']
n = len(a)
count = 0
search = input("enter the value of search =").lower()
for i in range(n):
    if (search == a[i].lower()):
        count = count+1
if count > 0:
    print("yes",count)
else:
    print("Search data not found")

In [ ]:
a = ['apple','Ball','Cat','ball','Zebra']
a.index("apple")

In [ ]:
a = ['apple','Ball','Cat','ball','Zebra']
del a[0]
print(a)

In [ ]:
a = ['apple','Ball','Cat','ball','Zebra']
del a
print(a)

In [ ]:
a = ['apple','Ball','Cat','ball','Zebra']
a.clear()
print(a)

In [ ]:
a = ['apple','Ball','Cat','apple','ball','Zebra','apple']
n = a.count("apple")
for i in range(n):
    a.remove('apple')
print(a)

In [ ]:
a = ['apple','Ball','Cat','apple','ball','Zebra','apple']
del a[0:4]
print(a)

In [ ]:
s = "dkdkasdj jdad ---- dasdjasd jasjdjasd jsjdsd"
s.split()

In [ ]:
s = "apple.ball"
s.split('.')

In [ ]:
s = "dkdkasdj jdad ---- dasdjasd jasjdjasd jsjdsd"
my_data = s.split()
print(my_data)
print(my_data[0])

In [ ]:
a = [[],[],[]]
print(a)
print(type(a))
print(len(a))

In [ ]:
a = [[1,2,3],[4,5,6],[7,8,9]]
a[2][1]

In [ ]:
a = []
n = int(input("Enter n ="))
for i in range(1,n+1):
    name = input("enter name = ")
    phone = int(input("enter phone = "))
    info = [i,name,phone]
    a.append(info)
print(a)

In [ ]:
sn = int(input("enter sn = "))
print("the data is = ",a[sn-1])

In [ ]:
# multiple values accept
a = [[1,2,3]]
a*2

In [ ]:
# - mutable data type 
a = [["a","b"],["f","t"]]
a[0]= ["h","d"]
a[0][0]= "k"
print(a)

In [ ]:
a=[["a","b"]]
b = [["c","d"]]
a+b

In [37]:
a = []
n = int(input("Enter n ="))
for i in range(1,n+1):
    name = input("enter name = ")
    phone = int(input("enter phone = "))
    info = [i,name,phone]
    a.append(info)
print(a)

Enter n =2
enter name = test
enter phone = 123
enter name = test2
enter phone = 233
[[1, 'test', 123], [2, 'test2', 233]]

In [38]:

name = input("enter name =").lower()
for j in a:
    if name in j[1].lower():
        print(j)

enter name =test
[1, 'test', 123]
[2, 'test2', 233]

In [40]:
name = input("enter name =").lower()
for j in a:
    if name in j[1].lower():
        a.remove
print(j)

enter name =test
[2, 'test2', 233]

In [ ]:
print(a)

In [ ]:
name = input("enter name =").lower()
for j in a:
    if name in j[1].lower():
        j[1] = "hari prasad"
       # a[1] = "ram prasad"
        print(j)

In [ ]:
print(a)

In [9]:
#WAP to make a result management system 
sturecord = []
n = 999999999
standard = "BA"
for i in range(1,n,1):
    lasst = int(input("Enter 0 for exit or 1 for continue: "))
    if lasst == 0 :
        break;
    else:
        name = input("Enter name: ")
        rollNum = int(input("Enter Roll Number: "))
        contactno = int(input("Enter Contact No: "))
        percentage = int(input("mark in percentage"))
        info = [i,name,rollNum,contactno,percentage]
        sturecord.append(info)           
print(sturecord)

Enter 0 for exit or 1 for continue: 1
Enter name: Anamika Jha
Enter Roll Number: 1
Enter Contact No: 23
mark in percentage60
Enter 0 for exit or 1 for continue: 1
Enter name: ashish shrestha
Enter Roll Number: 2
Enter Contact No: 2
mark in percentage80
Enter 0 for exit or 1 for continue: 1
Enter name: ashish manandhar
Enter Roll Number: 3
Enter Contact No: 345
mark in percentage40
Enter 0 for exit or 1 for continue: 1
Enter name: Sushil napit
Enter Roll Number: 4
Enter Contact No: 43434
mark in percentage50
Enter 0 for exit or 1 for continue: 0
[[1, 'Anamika Jha ', 1, 23, 60], [2, 'ashish shrestha ', 2, 2, 80], [3, 'ashish manandhar ', 3, 345, 40], [4, 'Sushil napit', 4, 43434, 50]]

In [12]:
print(sturecord)

AttributeError: 'list' object has no attribute 'split'

In [49]:
def showrecord():
    for j in range(0,len(sturecord)):
        #if rollnum == j[1]:
            print(sturecord[j])
showrecord()

[2, 'ashish shrestha ', 2, 2, 80]
[3, 'ashish manandhar ', 3, 345, 40]
[4, 'Sushil napit', 4, 43434, 50]

In [30]:
def dmldelete1(rollnum):
    for j in range(0,len(sturecord)):
        #if rollnum == j[1]:
        temp = sturecord[j]
        if rollnum == temp[2]:
            del sturecord[j]
            break
            print("temp :",temp[2])    
rollnum = int(input("Enter Rollnumber to be deleted : "))
dmldelete1(rollnum)  
#print(sturecord)

[1, 'Anamika Jha ', 1, 23, 60]
[2, 'ashish shrestha ', 2, 2, 80]
[3, 'ashish manandhar ', 3, 345, 40]
[4, 'Sushil napit', 4, 43434, 50]

In [51]:
def dmlinsert1():
    n = 999999999
    for i in range(1,n,1):
        lasst = int(input("Enter 0 for exit or 1 for continue: "))
        if lasst == 0 :
            break;
        else:
            name = input("Enter name: ")
            rollNum = int(input("Enter Roll Number: "))
            contactno = int(input("Enter Contact No: "))
            percentage = int(input("mark in percentage"))
            info = [i,name,rollNum,contactno,percentage]
            sturecord.append(info)   
dmlinsert1() 
#print(sturecord)

Enter 0 for exit or 1 for continue: 1
Enter name: laxmi jha
Enter Roll Number: 8
Enter Contact No: 223
mark in percentage30
Enter 0 for exit or 1 for continue: 0
[[2, 'ashish shrestha ', 2, 2, 80], [3, 'ashish manandhar ', 3, 345, 40], [4, 'Sushil napit', 4, 43434, 50], [1, 'laxmi jha ', 8, 223, 30]]

In [47]:
def dmledit():
    editrecord = int(input("Enter the rollnum of record to be updated : "))
    change = int(input("Enter the column "))
    for i in range(len(sturecord)):
        temp = sturecord[i]
        if editrecord == temp[2]:

[[1, 2]]